--prefer-binary
numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow==10.0.0
Flask==3.0.2
Flask-SocketIO==5.3.6
python-socketio==5.9.0
python-engineio==4.8.0
eventlet==0.35.2
gunicorn==21.2.0
twilio==8.10.0
Werkzeug>=3.0.0
pygame==2.6.1 